.wrapper{
    padding: 20px;
    margin: 20px;
    background-color: rgb(204, 189, 193);
    border: 5px solid black;
    text-align: center;
    width: 50%;
    height: 20%;
    
}
button{
    margin: 20px;
}

